/.anaconda
/.aws
/.azure
/.cache
/.conda
/.continuum
/.docker
/.gitconfig
/.ipython
/.jupyter
/.keras
/.lesshst
/.matplotlib
/.ms-ad
/.ollama
/.openshot_qt
/.python_history
/.ssh
/.streamlit
/.t2v_venv
/.vscode
/anaconda3
/ansel
/AppData
/BrawlhallaReplays
/Contacts
/DaVinci Resolve Media
/deathnote ep 1.osp
/deathnote ep 1_assets
/Desktop
/Documents
/Downloads
/edb_languagepack_3.exe
/edb_npgsql.exe
/edb_pem_sqlprofiler_pg15.exe
/edb_pgagent_pg15.exe
/edb_pgjdbc.exe
/edb_psqlodbc.exe
/Favorites
/fightcade-debug.log
/fightcade.log
/Games
/ggpo-ng.ini
/Links
/Microsoft
/miniconda3
/Muse Hub
/Music
/nltk_data
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{93b9b6dc-e66f-11ef-ac03-cc6c79c27cb7}.TM.blf
/NTUSER.DAT{93b9b6dc-e66f-11ef-ac03-cc6c79c27cb7}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{93b9b6dc-e66f-11ef-ac03-cc6c79c27cb7}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/Saved Games
/ScreepsArena
/Searches
/t2v_venv
/Videos
/Dropbox
/OneDrive - Quorum
/Application Data
/Cookies
/Local Settings
/Modèles
/SendTo
/Menu Démarrer
/Mes documents
/Voisinage d'impression
/Voisinage réseau
/Recent